.header-container {
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

/* links for mobile--- */
.links-for-mobile {
    position: absolute;
    top: 100%;
    left: 0;
    visibility: hidden;
    opacity: 0;
    height: 0px;
    background-color: #07080D;
    width: 100%;
    transition: all 0.5s ease-in-out; /* Add transition here */
    overflow-y: hidden; /* Add this to prevent scroll bar when hidden */
}

.header-container header {
    width: 80%;
    height: 80px;
    display: flex;

    align-items: center;

}

.header-container header .logo {
    width: 200px;
    /* height: 40px; */
}

header .logo img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.header-container header .nav-links {
    /* border: 2px solid green; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--third-color);
    margin-left: 20px;
    /* display: none; */
}

header .nav-links .all-links {

    display: flex;
    margin-right: auto;
    align-items: center;
    /* border: 2px solid red; */
    gap: 54px;
}

header .nav-links .all-links li {
    font-size: 16px;
    color: var(--third-color);
    text-transform: capitalize;
    font-weight: 500;
    letter-spacing: 1px;
    font-family: sans-serif;
    position: relative;
}



header .nav-links .all-links li :hover::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -2px;
    /* Yeh value content ke niche underline ko shift karti hai */
    height: 2px;
    /* Yeh underline ki width hai */
    background-color: var(--secondary-color);
    /* Underline ka color */
}

header .nav-links .all-links li:hover {
    color: var(--secondary-color);
}


.active {
    color: green;
    position: relative;
}

.active::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -2px;
    /* Yeh value content ke niche underline ko shift karti hai */
    height: 2px;
    /* Yeh underline ki width hai */
    background-color: var(--secondary-color);
    /* Underline ka color */
}



/* more links style------ */

header .nav-links .more-links {
    position: relative;
    cursor: pointer;
    margin-left: 54px;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
}

header .nav-links .more-links .down-arrow {
    transition: transform 0.3s ease;
    /* Smooth transition effect */
    margin-left: 10px;
    font-size: 22px;
    font-weight: 700;
}

header .nav-links .more-links span:hover {
    color: var(--secondary-color);
}

header .nav-links .more-links:hover::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -2px;
    /* Yeh value content ke niche underline ko shift karti hai */
    height: 2px;
    /* Yeh underline ki width hai */
    background-color: var(--secondary-color);
    /* Underline ka color */
}


header .nav-links .more-links:hover .down-arrow {
    transform: rotate(180deg);
    /* Rotate by 180 degrees */
    color: var(--secondary-color);
}

header .nav-links .more-links ul {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary-color);
    gap: 30px;
    padding: 13px 20px;
    border-radius: 10px;
    display: none;
    width: 130px;
    cursor: pointer;
    top: 100%;
    left: -30%;

}

header .nav-links .more-links ul li {
    font-size: 16px;
    text-transform: capitalize;
    margin-bottom: 10px;
    font-family: sans-serif;
    letter-spacing: 1px;
    position: relative;
}

header .nav-links .more-links ul li:hover::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -2px;
    /* Yeh value content ke niche underline ko shift karti hai */
    height: 2px;
    /* Yeh underline ki width hai */
    background-color: var(--secondary-color);
    /* Underline ka color */
}

header .nav-links .more-links ul li:hover {
    color: var(--secondary-color)
}

header .nav-links .more-links:hover ul {
    display: block;
}


/* login btn style ---------------------------------------------- */

header .nav-links .login-button {
    margin-left: 30px;
    background-color: var(--third-color);
    color: var(--primary-color);
    font-size: 16px;
    font-family: sans-serif;
    padding: 13px 48px;
    border: 2px solid transparent;
    /* Default border transparent hai */
    border-radius: 6px;
    text-transform: capitalize;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.2s ease-in;
    box-sizing: border-box;
    /* Border ka size content ko affect na kare */
}

header .nav-links .login-button:hover {
    background-color: var(--primary-color);
    color: var(--third-color);
    border-color: var(--third-color);
    /* Hover par border color change */
}

/* Default styles for .mobile-menu */
.header-container header .mobile-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
   /* border: 2px solid green; */

}

/* Hamburger icon */
.header-container header .mobile-menu .ham-burger,
.header-container header .mobile-menu .close-icon {
    opacity: 0;
    visibility: hidden;
    position: absolute; 
    top: -10px;
    right: 10px;
    font-size: 22px;
    color: rgb(205, 205, 205);
    transition: opacity 0.5s ease, visibility 0.5s ease; 
}




@media only screen and (max-width:925px) {

    .header-container header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 0px 10px;
        position: relative;
    }
     .bg{
        background-color: #07080D !important;
    }
    .header-container header .logo {
        width: 120px;
        /* height: 40px; */
    }
    .header-container header .nav-links {
    
        display: none;
    }
   
    .menuActive {
        padding: 0px 10px;
        color: var(--third-color);
        position: absolute;
        top: 100%;
        left: 0;
        height: 500px;
        opacity: 1;
        visibility: visible;
        background-color: #07080D;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: start;
        gap: 7px;
        z-index: 20;
        width: 100%;
        overflow-y: scroll;
        transition: all 0.5s ease-in-out; /* Ensure transition is here as well */
    }

    .all-mobile-links .all-links{
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: flex-end;
        gap: 10px;
        font-size: 10px;
        font-family: sans-serif;
        font-weight: 600;
        text-transform: capitalize;
    }

    .all-mobile-links .more-links{
        text-align: end;
        margin-top: 0;
        font-size: 10px;
        font-family: sans-serif;
        font-weight: 600;
    }
    .all-mobile-links .more-links .down-arrow{
        font-size: 16px;
    }

    .all-mobile-links .more-links ul {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;
        gap: 3px;
        opacity: 0;
        visibility: hidden;
        max-height: 0;
        overflow: hidden; /* Add this to prevent content from being visible when height is 0 */
        transition: all 0.3s ease-in-out;
    }
    
    .isMoreLinksActive {
        opacity: 1;
        visibility: visible;
        max-height: 150px; /* Use max-height instead of height */
    }
    
    .all-mobile-links .more-links ul li {
        margin-bottom: 0px;
        font-family: sans-serif;
        text-transform: capitalize;
    }
    
    
 .all-mobile-links .login-button {
    margin-left: 30px;
    background-color: var(--third-color);
    color: var(--primary-color);
    font-size: 16px;
    font-family: sans-serif;
    padding: 13px 48px;
    border: 2px solid transparent;
    /* Default border transparent hai */
    border-radius: 6px;
    text-transform: capitalize;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.2s ease-in;
    box-sizing: border-box;
    /* Border ka size content ko affect na kare */
}

.all-mobile-links .login-button:hover {
    background-color: var(--primary-color);
    color: var(--third-color);
    border-color: var(--third-color);
    /* Hover par border color change */
}
 

  

.header-container  .menuActive::-webkit-scrollbar {
    display: none;
}

/* For Firefox */
.header-container  .menuActive {
    scrollbar-width: none; /* Hide scrollbar */
    -ms-overflow-style: none; /* IE and Edge */
}

    /* By default, show the hamburger icon and hide the close icon */
.header-container header .mobile-menu .ham-burger {
    opacity: 1;
    visibility: visible;
}

.header-container header .mobile-menu .close-icon {
    opacity: 0;
    visibility: hidden;
}

/* When the menu is active, show the close icon and hide the hamburger */
.header-container header .mobile-menu.active .ham-burger {
    opacity: 0;
    visibility: hidden;
}

.header-container header .mobile-menu.active .close-icon {
    opacity: 1;
    visibility: visible;
}
    





}

@media only screen and (min-width:926px) and (max-width:1400px){
    .header-container header {
        width: 100%;
       padding: 0px 12px;
    }
    
    .header-container header .logo {
        width: 150px;
        /* height: 40px; */
    }
    


header .nav-links .all-links {

    gap: 18px;
}

header .nav-links .all-links li {
    font-size: 11px;
    
}
header .nav-links .login-button {
    margin-left: 25px;
   
    font-size: 12px;
   
    padding: 13px 20px;
  
}


    

}